.LoginPage{
    height: 100vh;
    background-image: url('../../Assets/pexels-aleks-marinkovic-5213549.jpg'); /* Replace with the path to your image */
    background-size: cover; /* or 'contain' depending on your preference */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.blurredBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px); /* Adjust the blur strength as needed */
  }
.loginLogo>img{
    height: 4rem;
    width: auto
}
  .loginCredentialsWrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginCredentials{
    width: 60%;
    /* background-color: black; */
    padding: 0rem 2rem 2rem 2rem;
    border-radius: 5px;
}
.individualCredentials{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.showPassword{
    position: absolute;
    cursor: pointer;
    margin-left: 52%;
    color: grey;
}
.individualCredentials>input{
    /* height: 3rem; */
    border-radius: 5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.139);
    border: none;
    width: 100%;
    padding: 1rem 1rem;
}
.noLoginCredentials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-bottom: 1rem;
    padding: 0rem 0.5rem;
    font-size: smaller;
    font-weight: lighter;
    cursor: pointer;
}
.loginButton{
    width: auto;
    display: flex;
    justify-content: center;
}
.loginButton>button{
        border-radius: 5rem;
        border: none;
        width: 100%;
        padding: 1rem 1rem;
        color: black;
        background-color: rgba(255, 255, 255, 0.393);
        font-size: 17px;
        font-weight: bold;
}

.loginButton>button:hover{
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width:920px) {
    .loginCredentials{
        width: 100%;
        height: 100vh;
    }
    .individualCredentials{
        width: 80%;
    }
    .loginButton{
        width: 80%;
    }
    .showPassword{
        right: 13%;
    }
}


/* Code for signup page */
.individualSignUpCredentials{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.signUpCredentials{
display: flex;
width: 49%;
}
.signUpCredentials>input{
    /* height: 3rem; */
    border-radius: 5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.139);
    border: none;
    width: 100%;

    padding: 1rem 1rem;
}
.signUpButton{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.signUpButton>button{
        border-radius: 5rem;
        border: none;
        width: 49%;
        padding: 1rem 1rem;
        color: black;
        background-color: rgba(255, 255, 255, 0.393);
        font-size: 17px;
        font-weight: bold;
        /* margin-right: 0.5rem; */
}

.signUpButton>button:hover{
    background-color: white;
    cursor: pointer;
}